{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listar Pacientes
{% endblock %}

{% block content %}

    <div class="select">
        <h3>Listado de Pacientes</h3>

        {% csrf_token %}

        <!-- Mostrar mensaje de error si existe -->
        {% if mensaje_error %}
        <div class="alert error">
            {{ mensaje_error }}
        </div>
        {% endif %}

        <!-- Tabla para mostrar los pacientes -->
        <table>
            <thead>
                <tr>
                    <th>Tipo Doc.</th>
                    <th>Nro. Doc.</th>
                    <th>Nombre</th>
                    <th>EPS</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.tipo_documento }}</td>
                        <td>{{ paciente.documento }}</td>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.eps.nombre_eps }}</td>
                        <td>
                            <a href="{% url 'actualizar_paciente' paciente.id %}" class="btn2">Actualizar</a>
                            |
                            <a href="{% url 'eliminar_paciente' paciente.id %}" class="btn2" onclick="return confirm('¿Estás seguro de eliminar este paciente?')">Eliminar</a>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Enlace para crear un nuevo paciente -->
        <div class="imagen-texto">
            <img src="{% static 'Images/+.svg' %}"|>
            <a href="{% url 'insertar_paciente' %}" src="{% static 'Images/+.svg' %}" class="txt">Crear nuevo paciente</a>
        </div>
    </div>

{% endblock %}
