/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #454545;
    --secondary-color: #303030;
    --background-color: WhiteSmoke;
    --text-color: #000000;
    --border-radius: 12px;
    --padding: 15px;
    --transition-speed: 0.3s;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Body */
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
    line-height: 2.2;
    display: grid;
    grid-template-columns: 0.5fr min(1000px, 90%) 0.5fr;
    grid-template-rows: auto auto auto;
    grid-auto-rows: min-content;
    overflow-x: hidden;
}

/* Header */
.header {
    grid-column: 1 / -1;
    position: fixed;
    top: 25px;
    left: 50px;
    right: 50px;
    height: auto;
    background-color: var(--primary-color);
    z-index: 100;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .softhealth {
    margin-top: 10px;
}

header form {
    display: flex;
    align-items: center;
}


header .logout-btn:hover {
    background-color: var(--primary-color);
}

/*-- Menú de navegación -------------------------------------------------------------------------*/
nav ul {
    display: flex;
    align-items: center;
    gap: 80px;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed);
    width: 100%;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

nav ul li.dropdown {
    position: relative;
}

nav ul li .logout-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: -100px;
}

nav ul form button {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed);
    width: 100%;
    font-size: 14px;    
}

nav ul form button:hover {
    text-decoration: underline;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

/* Dropdown */
nav ul li .types_user {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(20, 20, 20, 0.1);
    list-style: none;
    padding: 10px 0;
    z-index: 200;
    overflow: hidden;
    white-space: nowrap;
}

nav ul li:hover .types_user {
    display: block;
}

nav ul li .types_user li {
    text-align: center;
}

nav ul li .types_user li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    transition: background-color var(--transition-speed);
}

nav ul li .types_user li a:hover {
    background-color: var(--primary-color);
}

/* Icons */
nav ul li .home {
    height: 30px;
    filter: grayscale(100%) invert(100%);
}

nav ul li .user {
    height: 30px;
    filter: grayscale(100%) invert(100%);
}

nav ul li .phone {
    height: 30px;
    filter: grayscale(100%) invert(100%);
}

/* Contenedor del carrusel */
.carousel {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

/* Pista que contiene las imágenes */
.carousel-track {
    transition: transform 0.5s ease-in-out;
    display: flex; /* Coloca las imágenes en una fila */
}

/* Imágenes del carrusel */
.carousel-image {
    flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botones de navegación */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.carousel-btn.prev {
    left: 15px;
}

.carousel-btn.next {
    right: 15px;
}

/* Hover sobre los botones */
.carousel-btn:hover {
    background-color: var(--primary-color)
}

.icon {
    width: 70px;
    height: auto;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main */
h1 {
    text-align: center;
}

main {
    grid-column: 2;
    grid-row: 2;
    margin-top: 50px;
    padding: var(--padding);
}

.my-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #DCDCDC;
    opacity: 0.2;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.row div {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.row div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.row h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--secondary-color);
}

.row p {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.row a.btn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: var(--border-radius);
    background-color: #3cb22a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition-speed);
}

.row a.btn:hover {
    background-color: #1f5b15;
}

/* Tables */
table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px;
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: var(--primary-color);
    color: white;
}

table tr:hover {
    background-color: #f0f0f0;
}

table .btn:hover {
    font-weight: bold;
}

/* Estilos de formularios */
form {
    background-color: white;
    padding: 35px 35px 35px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    /* Centrar todo el contenido del formulario */
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center;    /* Centrar horizontalmente */
}

form h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

form label {
    /* Excluir etiquetas del centrado */
    align-self: flex-start; /* Alinear etiquetas a la izquierda */
    margin-top: 22px;
    font-weight: bold;
    margin-left: 100px;
}

form ul {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 25px;
}

form ul li {
    margin-bottom: 12px;
}

form input, form select, form button  {
    width: 80%;
    padding: 14px;
    margin: 8px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
}

form select {
    cursor: pointer;
}

form .fecha_nacimiento, form .fecha {
    cursor: pointer;
}

form textarea  {
    width: 80%;
    height: 100px;
    padding: 14px;
    margin: 8px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
}

form input {
    background-color: gainsboro;
    color: black;
    transition: background-color 0.3s ease;
}

form button {
    width: 100px;
    font-family: 'Inter';
    padding: 10px 15px;
    font-size: 14px;
    border-radius: var(--border-radius);
    background-color: #3cb22a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition-speed);
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 10px;
}

form button:hover {
    background-color: #1f5b15;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn2:hover {
    font-weight: bold;
}

.imagen-texto {
    display: flex; /* Usar Flexbox para alinear elementos en fila */
    align-self:flex-start; /* Alinear verticalmente al centro */
    gap: 15px; /* Espacio entre la imagen y el texto */
    text-decoration: underline;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 50px;
    margin-left: 65px;
    transition: background-color 0.3s ease;
}

.imagen-texto img {
    max-width: 20px; /* Limitar el ancho de la imagen */
    height: auto; /* Mantener las proporciones */
    border-radius: 8px;
}

.imagen-texto:hover {
    text-decoration: underline;
    font-weight: bold;
}
/* ---------------------------------------- Inicio Paciente */

.welcome {
    text-align: center;
    margin-bottom: 50px;
}

.welcome h1 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: var(--padding);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 285px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.logo-container img.icon {
    width: 70px;
    height: auto; /* Mantiene las proporciones */
    cursor: pointer;
}

/* Alerts */
.alerts {
    margin-bottom: 20px;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    font-size: 14px;
}

.alert.success {
    background: #d4edda;
    color: #155724;
}

.alert.error {
    background: #f8d7da;
    color: #721c24;
}

/* Mi Perfil */
.profile-my {
    margin-top: 35px;
    background-color: white;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-my h3 {
    font-size: 22px;
    color: var(--secondary-color);
    margin-bottom: var(--padding);
    text-align: right;
}

.profile-my .btn {
    font-family: 'Inter';
    padding: 10px 15px;
    font-size: 14px;
    border-radius: var(--border-radius);
    background-color: #3cb22a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition-speed);
    text-align: center;
    border: none;
    cursor: pointer;
    appearance: none;
    margin-bottom: 5px;
}

.profile-my .btn:hover {
    background-color: #1f5b15;
}

/* Datos Actuales */
.profile-details {
    margin-top: 35px;
    background-color: white;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details h3 {
    font-size: 22px;
    color: var(--secondary-color);
    margin-bottom: var(--padding);
    margin-top: 35px;
    margin-left: 35px;
}

.profile-details ul {
    list-style: none;
    margin-left: 35px;
    margin-bottom: 35px;
}

.profile-details ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.profile-details ul li strong {
    color: var(--primary-color);
}

.select {
    background-color: white;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select h3{
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* Footer */
footer {
    grid-column: 1 / -1;
    grid-row: -1;
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    margin-top: 50px;
    margin-left: 50px;
    font-size: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "main main"
            "footer footer";
    }

    .header__title {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
